

/*css du header*/
body{
    margin : 0;
}

.container {
    margin: 0;
}

header {
    border-bottom: solid;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-color: rgb(224, 127, 47);
}

#logo {
    align-items: start;
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius:50px;
}

.navbar {
    grid-column-start: 3;
}

#elemUser {
    grid-column-start: 4;
    grid-row: 1;
    justify-self: center;
}

/*main*/

#body {
    background-color:lightgrey;
}

/*css du menu burger*/
#icons {
    list-style: none;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 50px;

}

#elem_burger {
    list-style: none;
    flex-direction: column;
    background-color: antiquewhite;
    text-align: center;
    margin : 0;
}


#icons:before {
    content: "\2630";
    grid-column-start: 5;
}

.active #icons:before {
    content: "\2715";
    grid-column-start: 5;
}

#icons{
    grid-column-start:5;
}


#menu{
    display: none;
    margin : 0;
}

    #menu.active {
        display: block;
        list-style : none;
    }

.nav-item {
    list-style: none;
    margin: 0;
}

/*css de la page d'acceuil*/

#titreacceuil {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#acceuil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*css des card*/

#imgCard {

    width: 15vw;
    aspect-ratio:1/1;
}

.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 33%;
    height:33%;
    border-style:solid;
}


/*css de la fiche produit */

.fiche_prod {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    height: 100vh;
    margin-top:0;
}

/*css du carrouselle*/

#cadre {
    display:block;
    height: 50%;
    width: 450px;

}

.carouselle {
    order: 1;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.clc {
    list-style: none;
    overflow: hidden;
}
.slide.active {

    opacity: 1;
    list-style: none;
}
.slide {
    list-style: none;
    opacity:0;
}


.imgcarou {
    height:400px;
/*    width:100%;*/
    aspect-ratio: 1/1;
    object-fit: cover;
    position:absolute
}
.prevnext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*css de la nav fiche prod*/

#elem_FicheProd {
    order: 2;
}

/*css de la page modification*/

#imgUp{
    height:100px;
    width:100px;
}

.navbar{
    align-content:center;
}

#centrer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Card_panier {
    border: double;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    flex-wrap: wrap;
}

/*css de la page commande*/

#commande {
    display: flex;
    border:groove;
    flex-direction: column;
    align-items: center;
    background-color: white;
}