

/*css du header*/

header{
    border-bottom:solid;
    display:grid;
    grid-template-columns:20% 20% 20% 20% 20%;
}

#logo {
    align-items: start;
    width: 100px;
    height: 100px;
    margin: 20px;
}

/*css du menu burger*/

#burger {
    list-style: none;
}

#elem_burger {
   flex-direction:column;
   background-color:antiquewhite;
   text-align: center;
   
}


#icons:before {
    content: "\2630";
    grid-column-start: 5;
}

.active #icons:before {
    content: "\2715";
    grid-column-start: 5;
}

#icons{
    grid-column-start:5;
}

#menu{
    display: none;
}

#menu.active{
    display : block;
}

/*css de la page d'acceuil*/

#acceuil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*css des card*/

#imgCard {
    width: 50%;
    height: 50%;
}

.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 50%;
}


/*css du carrouselle*/

.carouselle {
    display:block;
    height:50vh;
    width:100vw;
    position:absolute;

}
}
.clc {
    list-style: none;
}
    .slide.active {
        opacity: 1;
        list-style: none;
        position: absolute;
    }
.slide {
    list-style: none;
    position:absolute;
    opacity:0;
}


.imgcarou {
    display:block;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.prevnext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 90%;
}



